
.wrap{
    margin: 20px
}
.form-select{ 
    
    width: var(--width);
    margin-bottom: 20px;
}
.input-group{
    width: 500px;

}
.btn2{
    border: 1px solid red !important;
    box-shadow: none !important;
}
